@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

button {
  color: #ffffff;
  background-color: #91a76f;
  padding: 10px 14px;
  margin-left: 10px;
  border-radius: 100px;
  border: none;
}

button:hover {
  transform: all 200ms ease;
  opacity: 0.8;
  cursor: pointer;
}

.App {
  font-family: "Amatic SC";
  font-weight: 700;
  font-size: 26px;
  color: #3a462b;
}
