@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

.Footer h3,
h4 {
  font-family: "Dancing Script";
  color: #3a462b;
}

.Footer h3 {
  font-size: 20px;
  margin-top: 40px;
}

.Footer h4 {
  font-size: 16px;
  margin-top: -10px;
}

.Footer small {
  font-family: "Amatic SC";
  font-weight: 600;
  font-size: 16px;
  color: #3a462b;
  margin-top: -10px;
}
