@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");

.Header h1 {
  font-family: "Amatic SC";
  font-weight: 700;
  font-size: 80px;
  margin-bottom: -10px;
  margin-top: 4px;
  color: #67794e;
}

.Header h2 {
  font-family: "Dancing Script";
  font-weight: lighter;
  font-size: 24px;
  margin-bottom: 40px;
  color: #3a462b;
  margin-bottom: 20px;
}
